<% if(auth){ %>
<%- include('partials/logoutHeader.ejs') %>

<% }else{ %>
<%- include('partials/loginheader.ejs') %>
<%  }%>

<link rel="stylesheet" href="/css/productDetails.css">
<div class="">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase center">
                    <img src="/productImg/<%= product.productImg %> " alt="<%= product.productName %> image">
                    <!-- <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                        alt="shoe image">
                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                        alt="shoe image">
                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                        alt="shoe image"> -->
                </div>
            </div>
            <!-- <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
                            alt="shoe image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                            alt="shoe image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                            alt="shoe image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                            alt="shoe image">
                    </a>
                </div>
            </div> -->
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title"><%= product.productName %></h2>
            <a href="#" class="product-link">visit <%= product.productCategory %> store</a>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
                <span>4.7(21)</span>
            </div>

            <div class="product-price">
                <!-- <p class="last-price">Old Price: <span>$257.00</span></p> -->
                <p class="new-price">New Price: <span>₹ <%= product.productPrice %></span></p>
            </div>

            <div class="product-detail">
                <h2>about this item: </h2>
                <p><%= product.productDescription%></p>
                <ul>
                    <li>Color: <span>Black</span></li>
                    <li>Available: <span>in stock</span></li>
                    <li>Category: <span><%= product.productCategory %></span></li>
                    <li>Shipping Area: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
                </ul>
            </div>

            <form action="/user/cart/additem" method="post">
                <input type="hidden" name="quantity" value="<%= product.productQuantity %> ">

                <input type="hidden" name="productId" value="<%= product.id %>">
                <input type="hidden" name="productName" value="<%= product.productName %>">
                <input type="hidden" name="productPrice" value="<%= product.productPrice%>">
                <input type="hidden" name="productDesp" value="<%= product.productDescription%>">
                <input type="hidden" name="productImg" value="<%= product.productImg%>">

                <div class="purchase-info">
                    <input type="number" min="0" value="1">
                    <button type="submit" class="btn">
                        Add to Cart <i class="fa fa-shopping-cart"></i>
                    </button>
            </form>
            <button type="button" class="btn">Compare</button>
        </div>

        <div class="social-links">
            <p>Share At: </p>
            <a href="#">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa fa-whatsapp"></i>
            </a>
            <a href="#">
                <i class="fa fa-pinterest"></i>
            </a>
        </div>
    </div>
</div>
</div>

<%- include('partials/footer.ejs') %>