<%- include('partials/loginheader.ejs') %>
<% if(msg){%>
<h2 class="msg btn-<%-symbol%> "> <%= msg %> </h2>
<% } %>

<div class="" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user/forgot/user/password/reset" method="POST" id="form" onsubmit="return validation()">
                   
                    <input type="hidden" name="userid" value="<%= userId %>">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter New Password</label>
                    <input name="newPwd1" id="password" type="password" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Confirm Password</label>
                    <input name="newPwd2" type="password" class="form-control" id="pw2" >
                </div>

                <button type="submit" id="btnn" class="btn btn-dark">Submit</button>
                </form>
            </div>
            <div class="modal-footer bg-dark text-light">
                <h5 class="d-block">Don't have an account?</h5>
                <a href="/user/signup"> <button type="button" class="btn btn-sm bg-light">Create
                        Now</button></a>
            </div>
        </div>
    </div>
</div>





<%- include('partials/footer.ejs') %>